apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  interval: 30m
  chart:
    spec:
      chart: immich
      version: 0.5.2
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    ingress:
      main:
        enabled: false

    persistence:
      library:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: immich-library-pvc
        accessMode: ReadWriteMany
        size: "1Ti"

    postgresql:
      enabled: true
    
    redis:
      enabled: true

    immich:
      machine_learning:
        enabled: false
